.card-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 20px; 
}
button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #007bff81, #0057b38a);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
}

p-card {
  flex: 1 1 300px; 
  min-width: 250px; 
  max-width: 300px; 
  box-sizing: border-box;
  


@media (max-width: 768px) {
  .card-container {
    justify-content: center; 
  }

  p-card {
    max-width: 100%; 
  }
}
}
